input[type=radio] { 
    margin-right: 16px;
}

.code-types {
    margin-bottom: 10px;
}

.hidden-code{
    width: 0;
    height: 0;
    background: none;
    visibility: hidden;
}

::ng-deep #qr-codecontent,
::ng-deep #qr-code-data-matrixcontent,
::ng-deep #bar-codecontent{
    background: #ffffff00 !important;
}

::ng-deep .fa-save:before, .fa-floppy-o:before {
    content: "\f0c7";
    padding: 3px;
}